---
import Footer from "~/components/sections/Footer.astro";
import About from "~/components/sections/index/About.astro";
import Contact from "~/components/sections/index/Contact.astro";
import Experience from "~/components/sections/index/Experience.astro";
import Hero from "~/components/sections/index/Hero.astro";
import Projects from "~/components/sections/index/Projects.astro";
import Services from "~/components/sections/index/Services.astro";
import MobileMenu from "~/components/sections/MobileMenu.astro";
import Navigation from "~/components/sections/Navigation.astro";
import Layout from "~/layouts/Layout.astro";
---

<Layout>
  <Navigation />
  <MobileMenu />
  <main>
    <Hero />
    <About />
    <Experience />
    <Projects />
    <Services />
    <Contact />
  </main>
  <Footer />
</Layout>
